<%
# View which displays a form for creating an instance.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title('Create a new instance')%>

<% content_for :body do %>
<%= flashes %>
	<% if Admin.current %>
		<%= link_to 'Aministration', instances_path %> &raquo; Edit Instance <br>
	<% end %>
	<h2>Create an instance</h2>

	<%= error_messages_for :instance %>

	<% form_for :instance, :url=>{:action => 'create'} do |f| -%>
<dl>
	<dt>	<%= f.label :short_name %></dt>
	<dd>	<%= f.text_field :short_name %></dd>
	<dt>	<%= f.label :long_name %></dt>
	<dd>	<%= f.text_field :long_name %></dd>	
</dl>
		<%= f.submit 'Create' %></p>
	<% end %>
<% end %>
