<%
# View which displays a list of all the admins.
#
# Author::      Eli Fox-Epstein, efoxepstein@wesleyan.edu
# Author::      Dimitar Gochev, dimitar.gochev@trincoll.edu
# Copyright::   Humanitarian FOSS Project (http://www.hfoss.org), Copyright (C) 2009.
# License::     http://www.gnu.org/copyleft/lesser.html GNU Lesser General Public License (LGPL)
%>

<% content_for :title, title('Administration')%>

<% content_for :branding, ''%>

<% content_for :body do %>
<%= link_to "Log Out", "admin_logout" %>
	<div>
		<h1>Admins:</h1>
		<ul id="admins">
		<%=pretty_button :new_admin, "admins/new", 'Create Admin' -%>
		<% @admins.each do |a| %>
			<li>
				<div class="name">E-mail: <%= a.email%></div>
			</li>
		<% end %>
		</ul>
		<div style="clear:both"></div>
	</div>
<div><h1>Existing instances:</h1>
<ul id="instances">
<%=pretty_button :new_instance, "new", 'Create Instance' -%>
<% Instance.all.each do |i| %>
<li>
<%= i.long_name %> <%= link_to "edit", :controller => "instances", :action => "edit", :id => i.id %> [<%=link_to 'x', :controller => "instances", :action => "destroy", :id => i.id%>]
</li>
<% end %>
</ul> 
</div>
<% end %>
